html {
  font-size: round(down, calc(min(100vw, 100vh) / 250), 1px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  height: 100vh;
  overflow: hidden;
}

body {
  image-rendering: pixelated;
  /* set the rem at floor(100vw / 256 -> px) */
  width: 250rem;
  height: 250rem;
  overflow: hidden;
  background-color: skyblue;
  margin: 0;
  position: relative;
}

#truck {
  position: absolute;
  top: 110rem;
  left: 50%;
  height: 16rem;
  width: 32rem;
  z-index: 1;
  background: url("art/truck.png") center/cover;
}

#background {
  position: absolute;
  top: 100rem;
  left: calc(50% - 100rem);
  background-color: skyblue;
  height: 100rem;
  width: 200rem;
  z-index: 0;
}

#road {
  position: absolute;
  top: 97rem;
  left: calc(50% - 125rem);
  height: 128rem;
  width: 512rem;
  z-index: 0;
  background: url("art/roadSection.png") center/auto 100%;
}

.zombie {
  position: absolute;
  top: 110rem;
  left: calc(50% + 100rem);
  height: 16rem;
  width: 9rem;
  z-index: 2;
  background: url("art/zombie.png") center/cover;
}

#health {
  position: absolute;
  top: 200rem;
  left: calc(50% - 100rem);
  background-color: red;
  height: 8rem;
  width: 200rem;
  z-index: 2;
}

#scoreboard {
  position: absolute;
  top: 5rem;
  left: 5rem;
  font-size: 8rem;
}
